

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/estilo.css">
        <title> Index - Search Food </title>

    </head>
    <body>
    
               
          
          
          <div class="container main margin-bottom-170px">
           
                                              
        
            
            <!-- Chama os 4 anúncios mais clicados. -->
            <div class='row margin-botton-50px' style='text-align: -webkit-center; text-align: -moz-center;'>                 
            
               
                <div class='col-xs-12 col-sm-6 col-md-3 alinha-centro'>
                    <div class='div-promocoes-hot margin-botton-20px'>
                        <div>
                           <p class="oferta-hot">  <i class='glyphicon glyphicon-fire'></i>  Oferta HOT </p>
                           <div class="div-nome-preco-hot">
                                <p class="nome-hot">Nome Restaurante</p>
                                <p class="preco-hot">R$ 50,90</p>
                            </div>
                            <img src='images/promo.jpg' class='img-promo img-responsive'>
                            
                        </div>
                        <div  class='link-promo'>
                            <a href='perfil-estabelecimento.php?id=6'><i class='glyphicon glyphicon-chevron-left'></i>Reserve</a>
                        </div>
                    </div>
                </div>



















                





                <div class='col-xs-12 col-sm-6 col-md-3 alinha-centro'>
                    <div class='div-promocoes-hot margin-botton-20px'>
                        <div>
                           <p class="oferta-hot" style="text-align: left;padding-left: 10px;"> Nome Restaurante</p>
                           <div class="div-nome-preco-hot">
                                <p class="nome-hot"></p>
                                <p class="preco-hot">R$ 50,90</p>
                            </div>
                            <img src='images/promo.jpg' class='img-promo img-responsive'>
                            
                        </div>
                        <div  class='link-promo'>
                            <a href='perfil-estabelecimento.php?id=6'><i class='glyphicon glyphicon-chevron-left'></i>Reserve</a>
                        </div>
                    </div>
                </div>







                <div class='col-xs-12 col-sm-6 col-md-4 alinha-centro'>
                        <div class='div-promocoes-hot margin-botton-20px'>
                            <div><img src='$imagem[$i]' class='img-promo img-responsive' value='$id[$i]'></div>
                            <div  class='link-promo'>
                               <a href='perfil-estabelecimento.php?id=$cod_empresa[$i]'> <i class='glyphicon glyphicon-chevron-left'></i>Reserve</a>
                            </div>
                            </div>
                        </div>

                

                
   
        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>